@use '../../../../styles/mixins/' as *;

.how-work {
  display: flex;
  justify-content: center;
  padding-inline: 20px;
  background-color: var(--c-wild-sand);
  scroll-margin-top: 30px;
  transition: transform 0.7s ease-out;
  text-align: center;

  &--active {
    transform: translateX(0);
  }

  &--hide {
    transform: translateX(-100%);
  }

  & {
    @include size('padding-block', 80, 20);
  }

  &__subtitle {
    position: relative;
    font-size: 14px;

    &::before {
      left: -16px;
    }
  }

  &__wrapper {
    text-align: left;
    display: flex;
    justify-content: flex-end;
    background-image: url('/src/assets/images/worker.webp');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 722px;
    transform: translateX(100%);
    transition: transform 0.7s ease-out;
  }

  &--active .how-work__wrapper {
    transform: translateX(0);
  }

  &--hide .how-work__wrapper {
    transform: translateX(100%);
  }

  &__list {
    max-width: 468px;
    width: 100%;
    display: flex;
    gap: 50px;
    flex-direction: column;

    @include rmax($xl) {
      gap: 20px;
      background-color: rgba(#F4F4F4, 0.8);
    }
  }

  &__title-2 {
    font-family: var(--ff-secondary);
    font-size: 25px;
    font-weight: 500;
    gap: 20px;

    &::before {
      width: 48px;
      height: 52px;
    }
  }

  &__text {
    font-weight: 500;
  }
}