@use '../styles/mixins/' as*;

.title-lg {
  font-family: var(--ff-secondary);
  font-size: 55px;
  font-weight: 700;
  margin-block: 0 30px;
  text-align: center;

  @include rmax($lg) {
    margin-block: 0 20px;
  }
}

.title-sm {
  margin-block: 0 30px;
  font-family: var(--ff-secondary);
  font-weight: 600;
  font-size: 35px;
  text-align: center;

  @include rmax($lg) {
    margin-block: 0 20px;
  }
}

.underline-horizontal {
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--c-my-sin);
  }
}

.underline-vertical {
  &::before {
    content: '';
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 6px;
    background-color: var(--c-my-sin);
  }
}