<header class="header" id="header">
  <div class="container">

    <div class="header__inner">

      <nav class="nav">

        <include src="html/components/logo/_index.html"></include>
        <include src="html/components/burger/_index.html"></include>

        <ul class="menu">
          <li class="menu__item">
            <a class="menu__link" href="#">Home</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#services">Services</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#how-work">How we work</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#about">About us</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#footer">Contacts</a>
          </li>
        </ul>

      </nav>
    </div>
  </div>
</header>