@use './../../../styles/mixins/' as*;

.header {
  position: fixed;
  background-color: var(--c-white);
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  &__inner {
    padding-block: 20px;
  }

  &.scrolled {
    background-color: #e8efff;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
  font-weight: 600;
  line-height: 1.3;

  @include rmax($md) {
    position: absolute;
    top: 100%;
    left: -200%;
    width: 100%;
    padding-block: 30px;
    padding-inline: 15px;
    background-color: #e8efff;
    color: var(--c-neutral-black);
    opacity: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    transition: left 0.3s ease-in-out;
  }

  &__item {
    padding-block: 12px;
  }

  &__link {
    position: relative;
    border-radius: 5px;
    outline: 2px solid transparent;
    outline-offset: 5px;

    &::before {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: transparent;
      transition: background-color 0.3s ease-in-out, color 3s ease-in-out;
    }

    @include hover {
      transition: color 0.3s ease-in-out;

      &::before {
        background-color: var(--c-my-sin);
      }
    }

    &:focus {
      outline-color: var(--c-neutral-black);
    }

    &:active {
      opacity: 0.5;
    }
  }
}