@use './../../../styles/mixins/' as*;

.service-card {
  display: flex;
  position: relative;
  border: 2px solid var(--c-wild-sand);

  border-radius: 5px;
  outline: 2px solid transparent;
  outline-offset: 5px;
  cursor: pointer;

  &__inner {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 5px solid var(--c-wild-sand);
    transition: transform 0.3s ease;
  }

  &:hover .service-card__inner {
    transform: translate(-20px, -20px);
  }

  &:focus {
    outline-color: var(--c-neutral-black);
  }

  &:active {
    opacity: 0.5;
  }

  &__icon {
    &::before {
      width: 56px;
      height: 56px;
    }
  }

  &__title {
    font-size: 25px;
    margin-block: 0 14px;
  }

  &__text {
    text-align: left;
  }
}