@use '../../../styles/mixins/' as*;

.google-map {
  width: 100%;
  border-radius: 5px;
  outline: 2px solid transparent;
  outline-offset: 5px;

  &:focus {
    outline-color: var(--c-neutral-black);
  }
}