<footer class="footer" id="footer">

  <include src="html/components/truck-animation/_index.html"></include>

  <div class="container">

    <div class="footer__inner">

      <div class="footer__wrapper">

        <include src="html/components/logo/_index.html"></include>

        <h3 class="footer__title">
          About the company:
        </h3>
        <p class="footer__text">
          GOODTRANSPORTATION4U LLC – your best choice
        </p>

        <include src="html/components/social/_index.html"></include>

      </div>

      <address class="contact">
        <h3 class="contact__title">Contact us:</h3>
        <ul class="contact__list">
          <li class="contact__item icon-mask icon-phone">
            <span class="contact__text">Phone:</span>
            <a class="contact__link" href="tel: 12222222222">
              +1 222 222-2222
            </a>
          </li>
          <li class="contact__item icon-mask icon-location">
            <span>
              <span class="contact__text">Adress:</span>
              <a class="contact__link" href="">
                758 SW 3RD PL<br>Dania Beach, Florida
              </a>
            </span>
          </li>
          <li class="contact__item icon-mask icon-email">
            <span class="contact__text">Email:</span>
            <a class="contact__link" href="mailto:templatemail@mail.usa">
              templatemail@mail.usa
            </a>
          </li>
        </ul>

      </address>

    </div>
  </div>
</footer>