@use '../../../../styles/mixins/' as*;

.hero {
  background-image: url('/src/assets/images/hero-bg.webp');
  @include bg-cover;

  @include rmax($xl) {
    background-image: url('/src/assets/images/hero-bg--xl.webp');
  }

  @include rmax($md) {
    background-image: url('/src/assets/images/hero-bg--md.webp');
  }

  @include rmax($xs) {
    background-image: url('/src/assets/images/hero-bg--xs.webp');
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 806px;
    max-width: 560px;
    width: 100%;
    color: var(--c-white);
    font-family: var(--ff-secondary);
  }

  &__subtitle {
    position: relative;
    font-size: 20px;
    margin-block: 10px;

    &::before {
      left: -16px;
    }
  }

  &__title {
    margin-block: 0 40px;
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    position: relative;

    &::before {
      bottom: -24px;
      height: 6px;
    }
  }

  &__text {
    font-size: 22px;
  }
}