<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="goodtransportation4u transportation and logistics, specifically trucks and cars">
  <title>GOODTRANSPORTATION4U | {{pageTitle}}</title>
  <link rel="icon" sizes="32x32" href="/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/.vite/manifest.json">
  <link href="/src/styles/main.scss" rel="stylesheet">
</head>

<body class="{{pageClass}}">
  <div class="wrapper">
    <include src="html/layouts/header/_header.html"></include>
    <block name="main">

    </block>
    <include src="html/layouts/footer/_footer.html"></include>
  </div>
  <script src="/src/scripts/main.js" type="module"></script>
</body>

</html>