@use '../../../../styles/mixins/' as*;

.services {
  display: flex;
  justify-content: center;
  padding-inline: 20px;
  scroll-margin-top: 30px;

  & {
    @include size('padding-block', 80, 20);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @include rmax(1500) {
      grid-template-columns: repeat(2, auto);
      justify-content: center;
    }

    @include rmax($md) {
      grid-template-columns: repeat(1, auto);
    }
  }
}