@use '../../../../styles/mixins/' as*;

.services {
  & {
    @include size('padding-block', 80, 20);
  }

  &__title {
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;

    @include rmax($xl) {
      justify-content: center;
      gap: 20px;
    }
  }
}