@use '../../../styles/mixins/' as*;

.social {
  display: flex;
  align-items: center;
  gap: 20px;

  &__link {
    border-radius: 5px;
    outline: 2px solid transparent;
    outline-offset: 5px;
    transition: opacity 3s ease-in-out, outline-color 0.3s ease-in-out;

    &::before {
      width: 32px;
      height: 32px;
    }

    @include hover {
      transition: background-color 2s ease-in-out;

      &::before {
        background-color: var(--c-my-sin);
      }
    }

    &:focus {
      outline-color: var(--c-neutral-black);
    }

    &:active {
      opacity: 0.5;
    }

  }
}