:root {
  --ff-primary: 'Krub', sans-serif;
  --ff-secondary: 'Rubik', sans-serif;

  --c-neutral-black: #0A0A0A;
  --c-white: #ffffff;
  --c-mirage: #1C1F35;
  --c-my-sin: #FFB629;
  --c-storm-gray: #666C89;
  --c-wild-sand: #F4F4F4;
  --c-dark-gray: #140a09;
}